
    <% for (var i = 0; i < products.length; i++) {%>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="<%= products[i].item.hinh  %>" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity"><%= products[i].quantity  %></span> x <%= products[i].item.tensanpham  %></strong> <%= products[i].mota  %></h1>
            <p><strong>Navy, Size 10</strong></p>
            <p>Mã sản phẩm - <%= products[i].item.masanpham  %></p>
          </div>
        </div>
        <div class="price"><%= products[i].item.dongia  %></div>
        <div class="quantity">
          <input type="text" value="<%= products[i].quantity  %>" class="quantity-field" readonly >
        </div>
        <div class="subtotal"><%= products[i].price  %></div>
        <div class="remove">
          <a href="/cart/remove/<%= products[i].item._id  %>"><button>remove</button></a>
        </div>
      </div>

    <% } %>